<!-- ! + tab -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo" class="logo"></a>
            <form class="search-bar">
                <input type="search" placeholder="Buscar productos, marcas">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
            <p class="buy"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="main-header-bottom">
            <ul class="first-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="second-list">
                <li><a href="/registro">Crea tu cuenta</a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars burguer-icon"></i>
        </div>
    </header>
    <main class="main-section">
        <img src="/images/img-home-banner.jpg" alt="home-banner">
        <section>
            <h2 class="last-visit"><strong>Basado en tu ultima vista</strong></h2>
            <div class="articles">
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$6770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description"><strong>Cafetera Moulinex</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$230000</p><br>
                        <p class="discount">20% OFF</p><br>
                    </div>
                    <p class="description"><strong>MacBook Pro 2019</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$70500</p><br>
                        <p class="discount">10% OFF</p><br>
                    </div>
                    <p class="description"><strong>Samsung Galaxy S10</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$23200</p><br>
                        <p class="discount">5% OFF</p><br>
                    </div>
                    <p class="description"><strong>SmartTv Samsung 43"</strong></p><br>
                </div>
            </article>
            </div>
        </section>
        <section>
            <h2 class="titular"><strong>Ofertas</strong></h2>
            <div class="articles">
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$6770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description"><strong>Cafetera Moulinex</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$230000</p><br>
                        <p class="discount">20% OFF</p><br>
                    </div>
                    <p class="description"><strong>MacBook Pro 2019</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$70500</p><br>
                        <p class="discount">10% OFF</p><br>
                    </div>
                    <p class="description"><strong>Samsung Galaxy S10</strong></p><br>
                </div>
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="product-bottom">
                    <i class="fas fa-truck"></i>
                    <div class="caja-flex">
                        <p class="price">$23200</p><br>
                        <p class="discount">5% OFF</p><br>
                    </div>
                    <p class="description"><strong>SmartTv Samsung 43"</strong></p><br>
                </div>
            </article>
            </div>  
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p><br>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p><br>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p><br>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>


